---
import { Carousel } from 'flowbite-react';
import type { CustomFlowbiteTheme } from 'flowbite-react';
import type { ImageMetadata } from 'astro';

export interface Props {
  images: [ImageMetadata, string][];
}

const { images } = Astro.props;

const customTheme: CustomFlowbiteTheme['carousel'] = {
  "root": {
    "base": "relative h-full w-full border",
  },
  "scrollContainer": {
    "base": "flex h-full snap-mandatory overflow-hidden scroll-smooth rounded-lg",
  }
};
---

<div class="h-96">
    <Carousel slide={false} indicators={false} theme={customTheme} client:load>
        {
            images.map((image) => (
                <a target="_blank" href={image[0].src}>
                    <img src={image[0].src} alt={image[1]} class="object-contain h-80 !my-0 border-none" />
                </a>
            ))
        }
    </Carousel>
</div>